.BC-example {
	border: solid #67a4cc 2px;
	background-color: #ddeaf4;
	padding: 1em 2em;
	border-radius: 10px;
}

.under-construction {
	background-color: #c85bb3 ;
	padding: 1em 0.5em 0.5em 0.8em;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	a {
		color: yellow;
	}
}

h1, .h1 {
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 60px;
}

.jumbotron header h1 {
	font-size: 3em;
}

h2, .h2 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 18px;
	color: $bklynConnect-orange;
	margin-bottom: 5px;
}

.content > p {
	font-size: 16px;
	line-height: 1.6;
	margin: 0 0 15px;
}

.navbar-default {
	background-color: $bklynConnect-blue;
	border-bottom-color: $brand-primary;
}

.navbar-default .navbar-nav > li.active a, .navbar-default .navbar-nav > li.active a:hover, .navbar-default .navbar-nav > li.active a:focus {
	background-color: $brand-primary;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: $brand-primary;
}